body{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: #180a25;
    color: #e7daf5;
}

/*
    Colors:
        pink: #D94862
        purple: #6A2EA6
        turquise: #32D9C8
        orange: #F2B84B
        deep orange: #F28D52
*/